language: java

sudo: required

env:
  - secure: "vhuz9TZYUKnRw2ZKQIhryoFCYBl4RktbDudy9piR7xKTNEE0H83WkAPkRZOEWlgoQ6kfewkD9oNrM/SihVg7v8jOczXRKTBj1fPfhAY3FuFkPNjfzup0uq67vkpcf1JKF8iIUsBAZ79uiB6h65AuCDDuJrsJVNyuvFLin6RefF5Q9lEKReObcZ+9EAgR+Ej4WnPVTm42sW4oOon+IPKaGvxI5cBiwiJxTPdf2sjv0Q1tYgEtSilfiWwNgCRRIdHWuPXhvzRhO2esbgBpMQgHUpRr/A1OzlVMH8ij7OvBDY7nBITLU4p4+rshssqvWO+NETMBLrWqK/n6/WpY2s0E4SX5s5YO1OL9Wo6RdkbxqY4P9psV8xGmmZb/78g0l+dnHWhc2JdM/G0mi2mWsnzIh5Y6uDr9kC+2J/V0DvDCiRNXxaNDe+Tl8pM3zJJoVTDEfeyij2Bw3UDGfrvh3cCGo/AkTJG/MciNYWQUgqT/GKrznAN1M7zVBhUXVEnOwb5WzYixObEElRER7LEae5AlRpcBD/5izO8RTxcLycllJJ8ao0Bd+3/NcpC/+vsPaUXq/Omvj/RdDIlQIX1jlPXvEONtPZmQZmH8Apt0ACdH7+r5XDgx675DwuHX//y1yO9MdpAqeJAER1EWSLCBrt7Vyae6Wecj/9oqMpkF5PZKgvg="

services:
  - docker

before_install:
  - cd docker && bash build.sh && bash tag.sh && cd ..

install:
  - curl -fsSL get.nextflow.io | bash 
  - export PATH="`pwd`:${PATH}"

script:
  - cd test && bash setup_test.sh && cd ..
  - nextflow distiller.nf -params-file ./test/test_project.yml

deploy:
  provider: script
  script: cd docker && docker login -u mirnylab -p $DOCKER_PASSWORD && bash deploy.sh
  on:
    repo: mirnylab/distiller-nf
    branch: master
    tags: true
