includeConfig 'VERSION'

manifest {
    homePage = 'https://github.com/mirnylab/distiller-nf'
    mainScript = 'distiller.nf'
}

process.container = "mirnylab/distiller_env:${version}"
process.shell = ['/bin/bash', '-uexo','pipefail']


profiles {


    standard {
        includeConfig './configs/local.config'
    }


    cluster {
        includeConfig './configs/cluster.config'
    }

}

// docker context is now described in the
// scope of profiles


// Use 'params' to provide parameters
// accessible inside the main script
// distiller.nf

params {
    // internal compression format (gz, lz4, ...)
    // used for storing intermediate results
    compression_format = 'gz'

}


timeline {
    enabled = true
}

trace {
    enabled = true
}

