includeConfig 'VERSION'

manifest {
    homePage = 'https://github.com/open2c/distiller-nf'
    mainScript = 'distiller.nf'
}

// docker-hub image is used both with docker and singularity
// replace with your local image when needed
process.container = "galitsyna/distiller_env:0.3.4_dev" //:${version}"
process.shell = ['/bin/bash', '-uexo','pipefail']


// Uncomment this to disable caching in work/ folder.
// process.cache = false


// Use 'params' to provide parameters
// accessible inside the main script
// distiller.nf
//
// parameters from the params section
// can be modified a command line arguments:
// nextflow run distiller --compression_format gz --config_dir /shared/path
params {
    // internal compression format (gz, lz4, ...)
    // used for storing intermediate results
    compression_format = 'gz'
    container_cache_dir = './'
    custom_config = 'custom.config'

}


// docker or singularity context is
// described in the scope of profiles
profiles {


    standard {
        includeConfig "configs/local.config"
    }


    cluster {
        includeConfig "configs/cluster.config"
    }
    
    custom {
         includeConfig "${params.custom_config}" 
    }

}



timeline {
    enabled = true
    file = "./pipeline_info/timeline.html"
}

trace {
    enabled = true
    file = "./pipeline_info/trace.txt"
}

report {
    enabled = true
    file = "./pipeline_info/report.html"
}
