includeConfig 'VERSION'

manifest {
    homePage = 'https://github.com/mirnylab/distiller-nf'
    mainScript = 'distiller.nf'
}

// docker-hub image is used both with docker and singularity
// replace with your local image when needed
process.container = "mirnylab/distiller_env:${version}"
process.shell = ['/bin/bash', '-uexo','pipefail']


// Uncomment this to disable caching in work/ folder.
// process.cache = false


// Use 'params' to provide parameters
// accessible inside the main script
// distiller.nf
//
// parameters from the params section
// can be modified a command line arguments:
// nextflow run distiller --compression_format gz --config_dir /shared/path
params {
    // internal compression format (gz, lz4, ...)
    // used for storing intermediate results
    compression_format = 'lz4'
    container_cache_dir = './'
    config_dir = './configs'

}


// docker or singularity context is
// described in the scope of profiles
profiles {


    standard {
        includeConfig "${config_dir}/local.config"
    }


    cluster {
        includeConfig "${config_dir}/cluster.config"
    }

}



timeline {
    enabled = true
    file = "./pipeline_info/timeline.html"
}

trace {
    enabled = true
    file = "./pipeline_info/trace.txt"
}

report {
    enabled = true
    file = "./pipeline_info/report.html"
}
