process {

    // default LSF node config
    executor='lsf'
    memory='8 GB'
    maxRetries = 2
    errorStrategy = 'retry'
    // the coolest feature of 'retry' that
    // one can dynamically adjust config for
    // processes - each one individually, or for all
    // using {task.attempt} as an index of attempt
    // queue='short'
    queue = { task.attempt<=1 ? 'short' : 'long' }
    // time='4h'
    time = { task.attempt<=1 ? '4h' : '12h' }

    // use this scope of config
    // to specify LSF submission node
    // configuration. Use 'params'
    // to fine tune cpu requirements
    // for different scipts inside a process

    withName: download_sra{
        cpu = 2
        maxForks = 15
    }

    withName: fastqc {
        cpus = 4
        memory = '4 GB'
        queue = 'short'
        time = '2h'
    }

    withName: chunk_fastqs {        
        cpus = 4
        memory = '2 GB'
        queue = 'short'
        time = '2h'
    }

    withName: map_chunks {
        cpus = 4
        memory = '16 GB'
        queue = 'short'
        time = '2h'
    }

    withName: parse_chunks {
        cpus = 4
        memory = '8 GB'
        queue = 'short'
        time = '1h'
    }

    withName: merge_chunks_into_runs {
        cpus = 8
        memory = '12 GB'
        queue = 'short'
        time = '4h'
    }

    withName: merge_runs_into_libraries {
        cpus = 8
        memory = '12 GB'
        queue = 'short'
        time = '4h'
    }

    //
    // withName: merge_stats_chunks_into_runs
    // { use default }
    //
    
    //
    // withName: merge_stats_runs_into_libraries
    // { use default }
    //

    withName: filter_make_pairs {
        cpus = 8
        memory = '12 GB'
        queue = 'short'
        time = '4h'
    }

    //
    // withName: index_pairs
    // { use defaults }
    //

    withName: bin_library_pairs {
        cpus = 8
        memory = '12 GB'
        queue = 'short'
        time = '4h'
    }

    withName: zoom_library_coolers {
        cpus = 8
        memory = '12 GB'
        queue = 'short'
        time = '4h'
    }

    withName: make_library_group_coolers {
        cpus = 2
        memory = '12 GB'
        queue = 'short'
        time = '2h'
    }

    withName: zoom_library_group_coolers {
        cpus = 8
        memory = '12 GB'
        queue = 'short'
        time = '4h'
    }

    //
    // withName: merge_stats_libraries_into_groups
    // { use defaults }
    //


}

// singularity containers usage example
singularity {
    enabled = false
    // mount external "/nearline" to internal "/mnt"
    runOptions = "--bind /nearline:/mnt:rw"
    // enable automount when available
    autoMounts = false
}


// docker is rarely an option on
// big shared clusters.
docker {
    enabled = false
}
