
process {
    // default local config
    executor='local'
    cpus = 4

    // use this scope of config
    // to specify local
    // configuration. Use 'params'
    // to fine tune cpu requirements
    // for different scipts inside a process

    // process-specific local config
    //
    // $download_sra
    // { use defautls }
    //

    $fastqc {
        cpus = 4
    }

    $chunk_fastqs {        
        cpus = 4
    }

    $map_runs {
        cpus = 8
    }

    $parse_runs {
        cpus = 4
    }

    $merge_chunks_into_runs {
        cpus = 8
    }

    $merge_runs_into_libraries {
        cpus = 8
    }

    //
    // $merge_stats_runs_into_libraries
    // { use default }
    //

    $filter_make_pairs {
        cpus = 8
    }

    //
    // $index_pairs
    // { use defaults }
    //

    $bin_library_pairs {
        cpus = 8
    }

    $make_library_group_coolers {
        cpus = 2
    }

    //
    // $merge_stats_libraries_into_groups
    // { use defaults }
    //

}

executor {
    cpus = 40
}


docker {
    enabled = true
    runOptions = '-u $(id -u):$(id -g)'
}

