
process {
    // default local config
    executor='local'
    cpus = 4
    maxRetries = 2
    errorStrategy = 'retry'
    // the coolest feature of 'retry' that
    // one can dynamically adjust config for
    // processes - each one individually, or for all
    // using {task.attempt} as an index of attempt
    cpus = { task.attempt<=1 ? 4 : 8 }
    // see cluster config for more examples

    // use this scope of config
    // to specify local
    // configuration. Use 'params'
    // to fine tune cpu requirements
    // for different scipts inside a process

    // process-specific local config
    //
    // withName: download_sra
    // { use defautls }
    //

    withName: fastqc {
        cpus = 4
    }

    withName: chunk_fastqs {        
        cpus = 4
    }

    withName: map_chunks {
        cpus = 8
    }

    withName: parse_chunks {
        cpus = 4
    }

    withName: merge_chunks_into_runs {
        cpus = 8
    }

    withName: merge_runs_into_libraries {
        cpus = 8
    }

    //
    // withName: merge_stats_chunks_into_runs
    // { use default }
    //

    //
    // withName: merge_stats_runs_into_libraries
    // { use default }
    //

    withName: filter_make_pairs {
        cpus = 8
    }

    //
    // withName: index_pairs
    // { use defaults }
    //

    withName: bin_library_pairs {
        cpus = 8
    }

    withName: zoom_library_coolers {
        cpus = 8
    }

    withName: make_library_group_coolers {
        cpus = 2
    }

    withName: zoom_library_group_coolers {
        cpus = 8
    }

    //
    // withName: merge_stats_libraries_into_groups
    // { use defaults }
    //

}

executor {
    cpus = 40
}


docker {
    enabled = true
    runOptions = '-u $(id -u):$(id -g)'
}

