
process {
    // default local config
    executor='local'
    cpus = 4
    maxRetries = 2
    errorStrategy = 'retry'

    // the coolest feature of 'retry' that
    // one can dynamically adjust config for
    // processes - each one individually, or for all
    // using {task.attempt} as an index of attempt
    cpus = { task.attempt<=1 ? 4 : 8 }
    // see cluster config for more examples

    // Set the location for temporary folders (mostly used in sorting).
    distillerTmpDir='./'
    // distillerTmpDir='/tmp'

    // use this scope of config
    // to specify local
    // configuration. Use 'params'
    // to fine tune cpu requirements
    // for different scipts inside a process

    // process-specific local config

    withName: download_truncate_chunk_fastqs {
        maxForks = 10
        cpus = 4
    }

    withName: local_truncate_chunk_fastqs {        
        cpus = 4
    }

    //
    // withName: fastqc
    // { use defaults }
    //

    withName: map_parse_sort_chunks {
        cpus = 8
    }

    withName: merge_dedup_splitbam {
        cpus = 8
    }

    withName: bin_zoom_library_pairs {
        cpus = 8
    }

    withName: merge_zoom_library_group_coolers {
        cpus = 8
    }

    //
    // withName: merge_stats_libraries_into_groups
    // { use defaults }
    //

}

executor {
    cpus = 40
}


docker {
    enabled = true
    runOptions = '-u $(id -u):$(id -g)'
    temp = 'auto'
}

